<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Functions</title>
</head>
</body>
<ul>
{{range .Cinema}}
<li>{{uc.Name}}</li>
{{end}}
</ul>

<ul>
{{range .Cinema}}
<li>{{ft.Name}}</li>
{{end}}
</ul>
</body>
</html>
