<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Global Functions</title>
</head>
</body>

{{.}}

{{index .Nums 2}}
{{index .Nums 4}}
{{index .Nums 1}}

{{.Word}}

</body>
</html>
