
Golf le fleur: FRENCH WALTZ is dozing off in the garden, using the sun as a towel to dry off the left overbeads of lake water.
The smell of damp jasmine petals sails in the air, while  hints of mandarin and mangolina amplify luminoius sandalwood.
Sweet yet floral, FRENCH WALTZ is a rosemusk made for everyone.
