<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Magic</title>
</head>
</body>
<ul>
{{range .Cinema}}
<li>{{.Name}} - {{.Line}}</li>
{{end}}
</ul>

<ul>
{{range .Fashion}}
<li>{{.Name}} - {{.Type}}</li>
{{end}}
</ul>
</body>
</html>
