<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Global Functions</title>
</head>
</body>

{{if gt .Score1 .Score2}}
Result: SCORE 1 > SCORE 2
{{end}}

{{if lt .Score1 .Score2}}
Result: SCORE 1 < SCORE 2
{{end}}

{{if eq .Score1 .Score2}}
Result: SCORE 1 = SCORE 2
{{end}}

{{if gt .Score2 6}}
Result: SCORE 2 > 6
{{end}}
</body>
</html>
